<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>415 Unsupported Media Type</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
</head>
<body>
<div class="container mx-auto px-4 py-14 sm:px-6 xl:px-12">
    <div class="flex flex-col items-center justify-center space-y-6 text-center">
        <h1 class="text-4xl font-bold tracking-normal sm:text-5xl lg:text-6xl">415 Unsupported Media Type</h1>
        <p class="max-w-screen-sm text-lg text-gray-600 sm:text-2xl">
            The request entity has a media type which the server or resource does not support.
        </p>
    </div>
</div>
</body>
</html>